@import "../../utils/constants.scss";

.AppBar {
  position: static; /* Set position to static */
  background-color: white;
  border-radius: 16px; /* Rounded corners */
}

.ToolBar {
  display: flexbox;
  justify-content: space-between;
  float: left;
  position: static; /* Set position to static */
  box-shadow: 0px 0px 5px 1px lightgray;
  background-color: $faceMesh-color-white;
  border-color: $faceMesh-color-blue;
  padding: 20px;
  border-radius: 16px; /* Rounded corners */
}