.toolbar {
  display: flex;
  justify-content: space-between;
}

.header__left .header__logo {
  height: 40px;
  margin-right: 20px;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 400px;
  width: 100%;
}

.header__input {
  margin-left: 10px;
  width: 100%;
}

.header__right .MuiIconButton-root {
  color: white;
  margin-right: 10px;
}

.header__right .MuiAvatar-root {
  margin-left: 10px;
}
